body {
    background: url(bloody_flag.jpg);
    background-attachment: fixed;
    background-position: top center;
    opacity: 0.9;   
}


#container-main {
    width: 1150px;
    height: 2500px;
    margin: 0 auto;
    vertical-align: top;
    background-color: white;
}

#nav-bar {
    width: 100%;
    height: 80px;
    border: 1px solid black;
}

h1 {
    position: center;
    vertical-align: top;
    display: inline-block;
}

img {
    width: 60px;
}

#nav-links {
    text-align: right;
    margin-left: 60%;
}

#wrapper {

}

.post {

}

textarea {
    resize: none;
}

.message {

}

.comments {

}

#footer {
    
}